mat-toolbar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: white;
  border-bottom: 2px solid #dcdcdc;

  .site-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #3f51b5;
  }

  mat-tab-group {
    margin-left: 20px;
    flex-grow: 1;
    // margin-top: 17px;
  }

  .spacer {
    flex-grow: 1;
  }

  .auth-buttons {
    display: flex;
    gap: 10px;
  }

  button {
    margin: 0;
    background-color: #3f51b5;
    color: white; 
  }
}

::ng-deep .mat-mdc-tab-header .mdc-tab {
  height: 65px;
}

::ng-deep .mdc-tab {
  font-size: 1rem !important;
}

