<div class="dashboard-container">
  <mat-grid-list
    cols="4"
    rowHeight="250px"
    gutterSize="10px"
    class="dashboard-grid"
  >
    <!-- Portfolio Value -->
    <mat-grid-tile [colspan]="4" [rowspan]="1" class="portfolio-value-tile">
      Portfolio Value: {{ portfolioValue }} STC
      <br />
      Insert percent change:
      <br />
      Insert change in dollars:
    </mat-grid-tile>

    <!-- Display Popular Stocks -->
    <mat-grid-tile
      *ngFor="let stock of stocks"
      [colspan]="1"
      [rowspan]="1"
      class="stock-tile"
    >
      <div class="stock-info">
        <h4>{{ stock.ticker }}</h4>
        <p>Opening Price: {{ stock.prices[0].open | currency }}</p>
        <p>Closing Price: {{ stock.prices[0].close | currency }}</p>
        <p>High: {{ stock.prices[0].high | currency }}</p>
        <p>Low: {{ stock.prices[0].low | currency }}</p>
      </div>
    </mat-grid-tile>

    <!-- Recent News -->
    <mat-grid-tile
      *ngFor="let news of recentNews"
      [colspan]="1"
      [rowspan]="1"
      class="news-tile"
    >
      <div class="news">
        <h6 class="header"> {{ news.title }} </h6>
        <span *ngIf="news.content != 'Loading...'">{{ news.content }} </span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
