<div class="container">
  <mat-grid-list cols="4" rowHeight="250px" gutterSize="10px">
    <mat-grid-tile [colspan]="4" [rowspan]="1" style="background: lightblue">
      NASDAQ Composite: ${{ nasdaqValue }} USD
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="1" style="background: #ddbdf1">
      Portfolio Value: ${{ portfolioValue }} USD
      <br />
      Insert percent change:
      <br />
      Insert change in dollars:
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1" style="background: lightgreen">
      Highest Earner:
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1" style="background: lightpink">
      Biggest Loser:
    </mat-grid-tile>

    <mat-grid-tile
      *ngFor="let news of recentNews"
      [colspan]="1"
      [rowspan]="1"
      style="background: #ddbdf1"
    >
      {{ news }}
    </mat-grid-tile>
  </mat-grid-list>
</div>
