<div class="container">
  <div class="left-section">
    <div>
      <div>Top 20 Gainer Stocks</div>
      <div>Insert Gainers Here</div>
    </div>
    <div>
      <div>Top 20 Loser Stocks</div>
      <div>Insert Losers Here</div>
    </div>
  </div>
  <div class="right-section">
    <div class="graph-content">
      <div class="graph">
        <div class="graph-header">
          <div>AAPL</div>
          <div>223.45 USD</div>
        </div>
        <div>Insert Graph Here</div>
        <div class="graph-buttons-container">
          <button class="graph-button">1D</button>
          <button class="graph-button">5D</button>
          <button class="graph-button">1M</button>
          <button class="graph-button">6M</button>
          <button class="graph-button">1Y</button>
          <button class="graph-button">2Y</button>
        </div>
      </div>
    </div>
  </div>
</div>
