.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-section {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > div {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.right-section {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .graph-header {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .graph-content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & > div {
      padding: 15px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
