<div class="container">
  <div class="site-title">
    <h1>Super Trader</h1>
  </div>
  <div class="login-container">
    <mat-tab-group dynamicHeight (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Login">
        <form class="form-container">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input
              matInput
              [formControl]="loginUsername"
              name="username"
              required
            />
            <mat-error *ngIf="loginUsername.hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [formControl]="loginPassword"
              name="password"
              [type]="hideLogin() ? 'password' : 'text'"
              required
            />
            <mat-error *ngIf="loginPassword.hasError('required')">
              Password is required
            </mat-error>
            <button
              class="hide-btn"
              mat-icon-button
              matSuffix
              type="button"
              (click)="clickEvent($event, 'login')"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideLogin()"
            >
              <mat-icon>{{
                hideLogin() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </form>

        <div class="login-btn">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="onLogin()"
          >
            Login
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Sign-Up">
        <div class="signup-container">
          <form class="form-container">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                [formControl]="signupUsername"
                name="username"
                required
              />
              <mat-error *ngIf="signupUsername.hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                [formControl]="signupPassword"
                name="password"
                [type]="hideSignup() ? 'password' : 'text'"
                required
              />
              <mat-error *ngIf="signupPassword.hasError('required')">
                Password is required
              </mat-error>
              <button
                class="hide-btn"
                mat-icon-button
                matSuffix
                type="button"
                (click)="clickEvent($event, 'signup')"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideSignup()"
              >
                <mat-icon>{{
                  hideSignup() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                [formControl]="confirmPassword"
                name="confirmPassword"
                [type]="hideConfirm() ? 'password' : 'text'"
                required
              />
              <mat-error *ngIf="confirmPassword.hasError('required')">
                Confirm Password is required
              </mat-error>
              <mat-error
                *ngIf="
                  confirmPassword.touched &&
                  confirmPassword.hasError('mismatch')
                "
              >
                Passwords do not match
              </mat-error>
              <button
                class="hide-btn"
                mat-icon-button
                matSuffix
                type="button"
                (click)="clickEvent($event, 'confirm')"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirm()"
              >
                <mat-icon>{{
                  hideConfirm() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </form>
          <div class="login-btn">
            <button
              mat-raised-button
              color="accent"
              type="submit"
              (click)="onSignUp()"
            >
              Sign Up
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
